{% extends "base.html" %}
{% load upper_words %}
{% block content %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{% upper_words article.title %}</h5>
            <p class="card-text">{{ article.content }}</p>
            <p class="card-text">{{ article.category }}</p>
            {% for tag in article.tags.all %}
                <span class="badge bg-info">{{ tag }}</span>
            {% endfor %}
            <p class="card-text">{{ article.id_author }}</p>
            <p class="card-text">{{ article.publication_date }}</p>
            <p class="card-text">{{ article.views }}</p>
            <p class="card-text">{{ article.favorites_count }}</p>
        </div>
    </div>
{% endblock %}