<ul class="navbar-nav">
    {% for item in menu %}
        <li class="nav-item">
            <a class="nav-link" href="{% url item.url_name %}">{{ item.title }}</a>
        </li>
        {% if not forloop.last %}
            <li class="nav-item"><hr class="dropdown-divider"/></li>
        {% endif %}
    {% endfor %}
    {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="#">Привет, {{ user.username }}!</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'users:logout' %}">Выйти</a>
        </li>
    {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'users:login' %}">Войти</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'users:signup' %}">Регистрация</a>
        </li>
    {% endif %}
</ul>